{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Portfolio list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('portfolio_show', { 'id': entity.id }) }}">{{ entity.description }}</a></td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('portfolio_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    </ul>

                    <li><a href="{{ url('sonata_media_gallery_view', {'id' : entity.gallery|sonata_urlsafeid }) }}">{{ entity.gallery.name }}</a></li>
                    {{ render(controller('ApplicationSonataMediaBundle:Gallery:thumb', { 'id': entity.gallery|sonata_urlsafeid} )) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
